@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Oswald', sans-serif;
  font-size: 0.85rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
.note-popover .btn:after {
  display: none;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #66458e !important;
}
.bg-success {
  background-color: #365c9a !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #66458e !important;
  border-color: #66458e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #365c9a !important;
  border-color: #365c9a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #352449;
  color: #352449 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #66458e;
  border-color: #66458e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #66458e !important;
  border-color: #66458e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #7a2820;
  color: #7a2820 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ca4336;
  border-color: #ca4336;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1c2f4e;
  color: #1c2f4e !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #365c9a;
  border-color: #365c9a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #365c9a !important;
  border-color: #365c9a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f5a208;
  color: #f5a208 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #614003 !important;
  background-color: #fac769;
  border-color: #fac769;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #66458e !important;
}
.text-secondary {
  color: #ca4336 !important;
}
.text-success {
  color: #365c9a !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #352449 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #7a2820 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1c2f4e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #365c9a;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #66458e;
  border-color: #66458e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #66458e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a68cc7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7e9ed2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #66458e;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #66458e;
  color: #232323;
  cursor: pointer;
  border-radius: 100px;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #66458e;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
/* Footer */
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #66458e;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #66458e;
  border-bottom-color: #66458e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #66458e !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ca4336 !important;
  box-shadow: none !important;
}
.cid-rtPdhUPZ7Y .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rtPdhUPZ7Y .nav-item,
.cid-rtPdhUPZ7Y .nav-link,
.cid-rtPdhUPZ7Y .navbar-caption {
  font-weight: normal;
}
.cid-rtPdhUPZ7Y .nav-item:focus,
.cid-rtPdhUPZ7Y .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rtPdhUPZ7Y .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rtPdhUPZ7Y .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rtPdhUPZ7Y .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rtPdhUPZ7Y .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rtPdhUPZ7Y .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #d21200;
}
.cid-rtPdhUPZ7Y .navbar.opened {
  transition: all .3s;
  background: #d21200 !important;
}
.cid-rtPdhUPZ7Y .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rtPdhUPZ7Y .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rtPdhUPZ7Y .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rtPdhUPZ7Y .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(99vh - 3.8rem);
  }
}
.cid-rtPdhUPZ7Y .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rtPdhUPZ7Y .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rtPdhUPZ7Y .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rtPdhUPZ7Y .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rtPdhUPZ7Y .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rtPdhUPZ7Y .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rtPdhUPZ7Y .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rtPdhUPZ7Y .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rtPdhUPZ7Y .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rtPdhUPZ7Y .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rtPdhUPZ7Y .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rtPdhUPZ7Y .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rtPdhUPZ7Y .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rtPdhUPZ7Y .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rtPdhUPZ7Y .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rtPdhUPZ7Y .navbar.navbar-short {
  background: #d21200 !important;
  min-height: 60px;
}
.cid-rtPdhUPZ7Y .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rtPdhUPZ7Y .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rtPdhUPZ7Y .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rtPdhUPZ7Y .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rtPdhUPZ7Y .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rtPdhUPZ7Y .dropdown-item.active,
.cid-rtPdhUPZ7Y .dropdown-item:active {
  background-color: transparent;
}
.cid-rtPdhUPZ7Y .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rtPdhUPZ7Y .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rtPdhUPZ7Y .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rtPdhUPZ7Y .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #d21200;
}
.cid-rtPdhUPZ7Y .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rtPdhUPZ7Y .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rtPdhUPZ7Y ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rtPdhUPZ7Y .navbar-buttons {
  text-align: center;
}
.cid-rtPdhUPZ7Y button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtPdhUPZ7Y button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rtPdhUPZ7Y button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rtPdhUPZ7Y button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rtPdhUPZ7Y button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rtPdhUPZ7Y button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rtPdhUPZ7Y nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rtPdhUPZ7Y nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rtPdhUPZ7Y nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rtPdhUPZ7Y nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rtPdhUPZ7Y .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rtPdhUPZ7Y a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rtPdhUPZ7Y .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-rtPdhUPZ7Y .soc-item .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtPdhUPZ7Y .soc-item {
  margin: .5rem .3rem;
}
.cid-rtPdhUPZ7Y .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rtPdhUPZ7Y a.nav-link,
.cid-rtPdhUPZ7Y a.dropdown-item {
  display: flex;
  align-items: center;
}
.cid-rtPdhUPZ7Y a.nav-link .mbr-iconfont-btn,
.cid-rtPdhUPZ7Y a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-rtPdhUPZ7Y a.nav-link:hover .mbr-iconfont-btn,
.cid-rtPdhUPZ7Y a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-rtPdhUPZ7Y a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rtPdhUPZ7Y .navbar {
    height: 77px;
  }
  .cid-rtPdhUPZ7Y .navbar.opened {
    height: auto;
  }
  .cid-rtPdhUPZ7Y .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rtQzHDP1YM {
  overflow: hidden !important;
  background-image: url("../../../assets/images/1a55746ccd4a3a-2000x1250.jpg");
}
.cid-rtQzHDP1YM .container-fluid {
  padding: 0 3rem;
}
.cid-rtQzHDP1YM .animated-element {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-rtQzHDP1YM .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rtPC6ZrA94 {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rtPC6ZrA94 .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtPC6ZrA94 .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtPC6ZrA94 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtPC6ZrA94 .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtPC6ZrA94 .image-wrap {
  position: relative;
}
.cid-rtPC6ZrA94 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtPC6ZrA94 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtPC6ZrA94 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtPC6ZrA94 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtPC6ZrA94 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtPC6ZrA94 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtPC6ZrA94 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtPC6ZrA94 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtPC6ZrA94 .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtPC6ZrA94 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtPC6ZrA94 .mbr-role {
  color: #e96188;
}
.cid-rtPC6ZrA94 .mbr-text {
  color: #767676;
}
.cid-rtPHobtIwy {
  padding-top: 0px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-rtPHobtIwy .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtPHobtIwy .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtPHobtIwy .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtPHobtIwy .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtPHobtIwy .image-wrap {
  position: relative;
}
.cid-rtPHobtIwy .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtPHobtIwy .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtPHobtIwy .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtPHobtIwy .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtPHobtIwy .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtPHobtIwy .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtPHobtIwy .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtPHobtIwy .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtPHobtIwy .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtPHobtIwy .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtPHobtIwy .mbr-role {
  color: #e96188;
}
.cid-rtPHobtIwy .mbr-text {
  color: #767676;
}
.cid-rtPeWRHLsU {
  overflow: hidden !important;
}
.cid-rtPeWRHLsU .animated-element {
  color: #efefef;
}
.cid-rtPeWRHLsU .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtPeWRHLsU .mbr-section-subtitle {
  color: #fac769;
}
@media (min-width: 992px) {
  .cid-rtPeWRHLsU .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rtPeWRHLsU .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-rtPeWRHLsU .img-block {
    padding-bottom: 2rem;
  }
}
.cid-rtRKPtx68b {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rtRKPtx68b .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtRKPtx68b .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtRKPtx68b .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtRKPtx68b .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtRKPtx68b .image-wrap {
  position: relative;
}
.cid-rtRKPtx68b .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtRKPtx68b .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtRKPtx68b .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtRKPtx68b .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtRKPtx68b .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtRKPtx68b .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtRKPtx68b .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtRKPtx68b .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtRKPtx68b .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtRKPtx68b .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtRKPtx68b .mbr-role {
  color: #e96188;
}
.cid-rtRKPtx68b .mbr-text {
  color: #767676;
}
.cid-rtRMFpUOda {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rtRMFpUOda .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtRMFpUOda .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtRMFpUOda .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtRMFpUOda .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtRMFpUOda .image-wrap {
  position: relative;
}
.cid-rtRMFpUOda .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtRMFpUOda .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtRMFpUOda .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtRMFpUOda .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtRMFpUOda .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtRMFpUOda .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtRMFpUOda .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtRMFpUOda .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtRMFpUOda .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtRMFpUOda .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtRMFpUOda .mbr-role {
  color: #e96188;
}
.cid-rtRMFpUOda .mbr-text {
  color: #767676;
}
.cid-rtRNUKPh5p {
  overflow: hidden !important;
}
.cid-rtRNUKPh5p .animated-element {
  color: #efefef;
}
.cid-rtRNUKPh5p .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtRNUKPh5p .mbr-section-subtitle {
  color: #fac769;
}
@media (min-width: 992px) {
  .cid-rtRNUKPh5p .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rtRNUKPh5p .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-rtRNUKPh5p .img-block {
    padding-bottom: 2rem;
  }
}
.cid-rtRRbtJqX3 {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rtRRbtJqX3 .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtRRbtJqX3 .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtRRbtJqX3 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtRRbtJqX3 .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtRRbtJqX3 .image-wrap {
  position: relative;
}
.cid-rtRRbtJqX3 .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtRRbtJqX3 .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtRRbtJqX3 .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtRRbtJqX3 .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtRRbtJqX3 .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtRRbtJqX3 .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtRRbtJqX3 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtRRbtJqX3 .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtRRbtJqX3 .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtRRbtJqX3 .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtRRbtJqX3 .mbr-role {
  color: #e96188;
}
.cid-rtRRbtJqX3 .mbr-text {
  color: #767676;
}
.cid-rtS1EaKmDW {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rtS1EaKmDW .mbr-section-title {
  margin-bottom: 0;
}
.cid-rtS1EaKmDW .mbr-iconfont {
  color: #ca4336;
  font-size: 1rem;
}
.cid-rtS1EaKmDW .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rtS1EaKmDW .mbr-iconfont:hover {
  color: #d21200;
}
.cid-rtS1EaKmDW .image-wrap {
  position: relative;
}
.cid-rtS1EaKmDW .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rtS1EaKmDW .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rtS1EaKmDW .card-wrap {
  margin-bottom: 3rem;
}
.cid-rtS1EaKmDW .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rtS1EaKmDW .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rtS1EaKmDW .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rtS1EaKmDW .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rtS1EaKmDW .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rtS1EaKmDW .img-overlay {
  background: linear-gradient(transparent, #232323);
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rtS1EaKmDW .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rtS1EaKmDW .mbr-role {
  color: #e96188;
}
.cid-rtS1EaKmDW .mbr-text {
  color: #767676;
}
.cid-rtS61nLeHR {
  overflow: hidden !important;
}
.cid-rtS61nLeHR .animated-element {
  color: #efefef;
}
.cid-rtS61nLeHR .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtS61nLeHR .mbr-section-subtitle {
  color: #fac769;
}
@media (min-width: 992px) {
  .cid-rtS61nLeHR .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rtS61nLeHR .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-rtS61nLeHR .img-block {
    padding-bottom: 2rem;
  }
}
.cid-rtS9w04ls7 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/https-blueprint-api-production.s3.amazonaws.com-uploads-card-image-892720-cd2dc039-6a04-47cc-be2c-d69d789a7b4b-1280x720.jpg");
}
.cid-rtS9w04ls7 .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rtS9w04ls7 .row-element,
.cid-rtS9w04ls7 .image-element {
  padding: 0;
}
.cid-rtS9w04ls7 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rtS9w04ls7 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rtS9w04ls7 .text-content {
  padding: 3rem;
}
.cid-rtS9w04ls7 .mbr-section-subtitle {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rtS9w04ls7 .text-content {
    padding: 2rem 1rem;
  }
  .cid-rtS9w04ls7 .mbr-title,
  .cid-rtS9w04ls7 .underline,
  .cid-rtS9w04ls7 .mbr-text,
  .cid-rtS9w04ls7 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-rtS9w04ls7 .mbr-title {
  color: #ffffff;
}
.cid-rtS9w04ls7 .mbr-text,
.cid-rtS9w04ls7 .mbr-section-btn {
  color: #efefef;
}
.cid-rtSe70ZG37 {
  overflow: hidden !important;
}
.cid-rtSe70ZG37 .animated-element {
  color: #efefef;
}
.cid-rtSe70ZG37 .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtSe70ZG37 .mbr-section-subtitle {
  color: #fac769;
}
@media (min-width: 992px) {
  .cid-rtSe70ZG37 .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rtSe70ZG37 .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-rtSe70ZG37 .img-block {
    padding-bottom: 2rem;
  }
}
.cid-rtPsHLlrxe {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rtPsHLlrxe .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-rtPsHLlrxe .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rtPsHLlrxe .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rtPsHLlrxe .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-rtPsHLlrxe .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #d21200;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-rtPsHLlrxe .icon-transition span:hover {
  background-color: #e96188;
}
.cid-rtPsHLlrxe .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-rtPsHLlrxe .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-rtPsHLlrxe .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-rtPsHLlrxe .mbr-text {
    margin-bottom: 1.5rem;
  }
}
